.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Flutter
flutter-frontend/.dart_tool/
flutter-frontend/.packages
flutter-frontend/.flutter-plugins
flutter-frontend/.flutter-plugins-dependencies
flutter-frontend/.idea/
flutter-frontend/build/
flutter-frontend/generated_plugin_registrant.dart

# Android
flutter-frontend/android/.gradle/
flutter-frontend/android/local.properties
flutter-frontend/android/.idea/
flutter-frontend/android/build/

# iOS (만약 iOS도 나중에 추가한다면)
flutter-frontend/ios/Flutter/Generated.xcconfig
flutter-frontend/ios/.symlinks/
flutter-frontend/ios/Pods/
flutter-frontend/ios/build/
flutter-frontend/ios/.generated/

# 기타
**/*.log
